* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: hsl(226deg, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: rgb(179, 174, 174);
}

.cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.jeremy {
  width: 350px;
  height: 100px;
  margin-bottom: 100px;
  border-radius: 15px;
}
.jeremy .photo,
.jeremy .surname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time {
  background-color: rgb(112, 61, 61);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.time .name {
  width: 350px;
  height: 100px;
  background-color: rgb(139, 59, 177);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.time .name .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.time .name .num .report {
  margin-bottom: 5px;
  font-weight: 100;
}
.time .name .num .robson {
  font-size: 22px;
}
.time .name .photo {
  height: 55px;
  margin: 10px;
  border-color: 2px solid antiquewhite;
}
.time .box {
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.time .box .weight {
  color: white;
}

.work {
  background-color: rgb(66, 44, 189);
  width: 350px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 15px;
  margin-top: 20px;
}
.work .first {
  margin-top: 50px;
  background-color: rgb(125, 74, 167);
  border-radius: 15px;
  width: 350px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work .first .previous {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  color: white;
}
.work .first .previous .number {
  font-size: 25px;
  font-weight: 200;
  margin-top: 5px;
}
.work .first .previous .job {
  font-weight: 500;
}
.work .first .last-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-top: 40px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */